@import url("https://fonts.googleapis.com/cs ?family=Yanone+Kaffeesatz:400,300,200");


/*Web Defaults*/
* {
    font-family: sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
}



/*Wrapper for webpage*/

#wrapper{
    position: absolute;
    background-color: brown;
    height: 200%;
    width: 100%;
    
}



/*Banner Section*/
#banner {
    position: relative;
    background-color: steelblue;
    height: 100px;
    border-width: 100%;
    padding: 20px;
    margin: 0px;
    border: 10px;
    border-color: green;
    border-style: dashed;
}
    #banner .titlecontainer {
        margin-top: -0.5em;
        text-align: center;
        width: 10em;
        background-color: aliceblue;
        font-size: 190%;
        text-decoration: none;
        color: green;
    }
        #bannder .titlecontainer {
            text-decoration: none;
            color: red
        }
    #banner .navcontainer{
        /* margin-left: 45em;
        margin-top: -5em; */
        margin-left: 40%;
        margin-top: -5%;

    }
        #banner .navcontainer a{
            margin-left: 5%;
            color: white;
            text-decoration: none;
            font-size: x-large;
        }



/*THIS IS FOR MOBILE!!!*/
/*My mobile Configueration*/
@media screen and (max-width: 950px){
    #wrapper {
    position: absolute;
    background-color: aqua;
    height: 200%;
    width: 100%;
    }

/*Banner Section*/
#banner {
    position: relative;
    background-color: peru;
    height: 165px;
    border-width: 100%;
    padding: 20px;
    margin: 0px;
    border: 10px;
    border-color: green;
    border-style: double;
}
    #banner .titlecontainer {
        margin: auto;
        margin-top: -1.5em;
        text-align: center;
        width: 10em;
        background-color: aliceblue;
        font-size: 190%;
        text-decoration: none;
        color: green;
    }
        #bannder .titlecontainer {
            text-decoration: none;
            color: red
        }
    #banner .navcontainer{
        /* margin-left: 45em;
        margin-top: -5em; */
        position: relative;
        margin: auto;
        text-align: center;
    }
        #banner .navcontainer a{
            /* margin-left: 5%; */
            color: white;
            text-decoration: none;
            font-size: x-large;
        }
}